/* You can add global styles to this file, and also import other style files */

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import '../../../node_modules/@ctrl/ngx-emoji-mart/picker';
@import '../../../node_modules/css-file-icons/build/css-file-icons.css';
.vh-50 {
    height: 50vh;
}

span.emoji-pipe-image {
    margin-bottom: -0.45rem;
}

.scu-citation {
    span.emoji-pipe-image {
        margin-bottom: -0.2rem;
    }
}

main {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}