<main class="mt-5 vh-50">
    <chat-ui
        (attachmentClicked)="onAttachmentClicked($event)"
        (audioCallClicked)="onAudioCallClicked()"
        (menuItemClicked)="onMenuItemClicked($event)"
        (messageEdited)="onMessageEdited($event)"
        (messageSent)="onMessageSent($event)"
        (reaction)="onReaction($event)"
        (videoCallClicked)="onVideoCallClicked()"
        [attachmentButtons]="attachmentButtons"
        [emojiMartOptions]="emojiMartOptions"
        [me]="me"
        [menuItems]="menuItems"
        [messages]="messages"
        [typingUsername]="typingUsername"
        profileImageSource="https://placekitten.com/500/500"
        subtitle="Last seen: 6:59 PM yesterday" 
        title="Max Mustermann"
    ></chat-ui>
</main>